@media (max-width: 745px) {
    /* header */
    header {
        margin-inline: 24px;
    }

    /* section1 */
    .app-section1 {
        height: 320px;
    }

    /* section2 */
    .app-section2-image-container {
        height: 320px;
    }

    .app-section2-text-container {
        flex-direction: column;
        text-align: center;
    }

    .app-section2-text-container-header {
        width: 100%;
    }

    .app-section2-text-container-text {
        width: 100%;
    }

    /* section3 */
    .app-section3 {
        margin-inline: 24px;
        flex-direction: column;
        row-gap: 20px;
    }

    .app-section3-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* footer */
    footer {
        padding: 32px 24px;
        flex-direction: column;
        row-gap: 32px;
    }
}

@media (max-width: 666px) {
    /* header */
    .app-header-button-text {
        display: none;
    }

    .app-header-menu-icon {
        display: block;
    }

    .app-header-button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app-header-nav {
        display: none;
    }
}